.ibc-methodology {
  overflow: hidden;
  margin-top: 68px;
  @include breakpoint-down(desktop) {
    padding: 0 16px;
  }

  .title {
    text-align: -webkit-center;
    margin: 0 auto;
    font-style: normal;
    font-weight: $font-weight-base;
    font-size: 16px;
    line-height: 140%;
    color: $black-1;
    @include breakpoint-down(desktop) {
      font-size: 14px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      @include current-bg;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-style: normal;
      font-weight: $font-weight-light;
      font-size: 4.8rem;
      line-height: 120%;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__slide {
    margin: 40px;
    margin-bottom: 50px;

    .swiper {
      overflow: unset;

      @include breakpoint-up(phone) {
        text-align: left;
      }

      .swiper-slide {
        position: relative;

        &:nth-child(1):before {
          content: '';
          position: absolute;
          right: -50%;
          top: 0;
          height: 50px;
          width: 100%;
          animation: slideshow 1s linear forwards;
          background-color: #fff;
          z-index: 1;
          animation-delay: 3s;
        }

        &:nth-child(2):before {
          content: '';
          position: absolute;
          right: -50%;
          top: 50px;
          height: 50px;
          width: 100%;
          animation: slideshow 1s linear forwards;
          background-color: #fff;
          z-index: 1;
          animation-delay: 4s;
        }

        &:nth-child(3):before {
          content: '';
          position: absolute;
          right: -50%;
          top: 50px;
          height: 50px;
          width: 100%;
          animation: slideshow 1s linear forwards;
          background-color: #fff;
          z-index: 1;
          animation-delay: 5s;
        }

        &:nth-child(4):before {
          content: '';
          position: absolute;
          right: -50%;
          top: 50px;
          height: 50px;
          width: 100%;
          animation: slideshow 1s linear forwards;
          background-color: #fff;
          z-index: 1;
          animation-delay: 6s;
        }

        &:nth-child(5):before {
          content: '';
          position: absolute;
          right: -50%;
          top: 50px;
          height: 50px;
          width: 100%;
          animation: slideshow 1s linear forwards;
          background-color: #fff;
          z-index: 1;
          animation-delay: 7s;
        }

        &:nth-child(6):before {
          content: '';
          position: absolute;
          right: -50%;
          top: 50px;
          height: 50px;
          width: 100%;
          animation: slideshow 1s linear forwards;
          background-color: #fff;
          z-index: 1;
          animation-delay: 8s;
        }

        &:last-child {
          .ibc-methodology__slide_item_news_box_number:after {
            content: '';
          }
        }
      }
    }

    &_item_news {
      position: relative;
      height: 300px;
      @include breakpoint-down(phone) {
        height: 340px;
      }

      &_box_text {
        position: absolute;
        top: 100px;
        width: 100%;

        span {
          display: block;
          width: 100%;
          text-align: center;
          font-style: normal;
          font-weight: $font-weight-bold-md;
          font-size: 18px;
          line-height: 140%;
          transition: 0.5s;
          margin-top: 50px;
        }

        &_text {
          z-index: -1;
          transition: 0.5s;
          transform: translateY(100%);
          position: relative;
          margin-top: 10px;
          display: flex;
          width: 100%;
          align-items: end;

          @include breakpoint-down(desktop) {
            text-align: left;
          }
          @include breakpoint-down(desktop) {
            margin-top: 20px;
          }

          &_desc {
            overflow: hidden;
            display: none;
            width: 300px;
            font-style: normal;
            font-weight: $font-weight-base;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            margin: auto;
            align-items: center;
            color: $black-1;
            @include breakpoint-down(desktop) {
              width: 100%;
            }
          }
        }
      }

      &_box_number {
        position: absolute;
        top: 0;
        left: calc(50% - 25px);
        height: 100px;
        width: 100%;

        &:after {
          z-index: 0;
          position: absolute;
          bottom: 0;
          content: url(' ../images/left.jpg ');
          width: 100%;

          @include breakpoint-down(tablet) {
            left: calc(0% + 48px);
          }
          @include breakpoint-down(phone) {
            left: calc(0% + 30px);
          }
        }

        &:hover &_number {
          box-shadow: 0 0 0 8px rgb(0 189 255 / 12%);
          outline-color: transparent;
          outline-width: 8px;
          -webkit-outline-style: dotted;
        }

        &_number {
          @include flex-center;
          height: 50px;
          width: 50px;
          background: linear-gradient(215.9deg, #00c6ff 15.48%, #0072ff 110.47%);
          border-radius: 50%;
          overflow: hidden;
          font-weight: $font-weight-bold-md;
          font-size: 24px;
          line-height: 140%;
          text-align: center;
          color: $white;
          position: absolute;
          bottom: 0;
          z-index: 1;
          margin-bottom: 40px;
          transition: 0.5s;
          animation-name: numberanimation;
          @include breakpoint-up(desktop) {
            text-align: left;
            margin: auto;
            margin-top: 20px;
          }
          @include breakpoint-down(desktop) {
            text-align: center;
            margin: auto;
            margin-top: 30px;
          }
          @include breakpoint-down(tablet) {
            text-align: left;
            margin: unset;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

.swiper-slide-active {
  .ibc-methodology__slide_item_news_box_number_number {
    left: -15px;
    margin-top: unset;
    height: 68px;
    width: 68px;
    font-size: 3.5rem;
    box-shadow: 0 0 0 8px rgb(0 189 255 / 12%);
    outline-color: transparent;
    outline-width: 8px;
    -webkit-outline-style: dotted;
    transform: translateY(0);
  }

  .ibc-methodology__slide_item_news_box_text_text {
    &_desc {
      display: block;
      transform: translateY(0);
    }
    display: block;
    transform: translateY(0);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $white-8;
  display: block;
}

.width_methodology {
  position: relative;
}

.swiper-pagination-bullet-active {
  background-color: #0072ff;
  display: block;
}

.slider__pagination {
  gap: 8px;
  justify-content: center;
  position: absolute;
  bottom: -50px;
  @include abs-center-hoz;
  display: flex;
  @include breakpoint-down(desktop) {
    display: flex;
    bottom: 20px;
  }
  @include breakpoint-down(phone) {
    display: flex;
    bottom: 5px;
  }
}

.swiper-wrapper {
  cursor: unset !important;
}

.box {
  position: relative;
}

@keyframes slideshow {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
