{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jsx-a11y", "react-hooks"],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "array-callback-return": "off",
    "prefer-const": "off",
    "react/function-component-definition": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-namespace": "error",
    "@typescript-eslint/no-this-alias": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-misused-new": "error",
    "@typescript-eslint/class-name-casing": "off",
    "@typescript-eslint/no-empty-function": "error",
    "@typescript-eslint/no-empty-interface": "error",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-inferrable-types": "error",
    "@typescript-eslint/no-array-constructor": "error",
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/triple-slash-reference": "error",
    "@typescript-eslint/member-delimiter-style": "error",
    "@typescript-eslint/type-annotation-spacing": "error",
    "@typescript-eslint/prefer-namespace-keyword": "error",
    "@typescript-eslint/consistent-type-assertions": "error",
    "@typescript-eslint/adjacent-overload-signatures": "error",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "@next/next/no-html-link-for-pages": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@next/next/no-img-element": "off",
    "no-alert": "off",
    "camelcase": "off",
    "no-console": "warn",
    "no-unused-vars": "off",
    "react/no-danger": "off",
    "linebreak-style": "off",
    "react/jsx-key": "error",
    "no-empty-function": "off",
    "no-duplicate-case": "off",
    "no-param-reassign": "off",
    "import/extensions": "off",
    "consistent-return": "off",
    "operator-linebreak": "off",
    "no-confusing-arrow": "off",
    "no-array-constructor": "off",
    "no-use-before-define": "off",
    "import/no-unresolved": "off",
    "object-curly-newline": "off",
    "no-underscore-dangle": "off",
    "no-restricted-globals": "off",
    "jsx-a11y/no-autofocus": "off",
    "react/button-has-type": "off",
    "function-paren-newline": "off",
    "react/self-closing-comp": "off",
    "react/forbid-prop-types": "off",
    "implicit-arrow-linebreak": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-wrap-multilines": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "react/static-property-placement": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/no-extraneous-dependencies": "off",
    "react/no-unstable-nested-components": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "react/jsx-curly-newline": "off",
    "no-unstable-nested-components": "off",
    "no-shadow": "off",
    "import/named": "off",
    "dot-notation": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "react/no-unknown-property": ["error", { "ignore": ["jsx"] }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
