@import '@/scss/abstracts';

.ibc-input-upload {
  display: flex;

  &_btn {
    display: block;
    text-align: center;
    margin-right: 2rem;

    label {
      border-radius: 8px;
      background: $white-5;
      height: 64px;
      cursor: pointer;
      padding: 10px 8px;
      font-weight: $font-weight-base;
      font-size: 14px;
      line-height: 140%;
      color: $black-4;
      margin: auto;
      display: block;
      width: 110px;

      svg {
        display: block;
        margin: auto;
        margin-bottom: 8px;
      }
    }
  }

  &_title {
    width: 100%;

    h5 {
      @include flex-center-ver;
      font-weight: $font-weight-bold-md;
      font-size: 14px;
      line-height: 140%;
      color: $black-1;
    }

    p {
      font-weight: $font-weight-base;
      font-size: 14px;
      line-height: 140%;
      display: flex;
      align-items: center;
      color: $black-1;
    }

    span {
      position: relative;
      bottom: 10px;
      color: $red-2;
      margin-top: 8px;
      font-size: 14px;
      line-height: 140%;
      display: block;
    }
  }
}

ul {
  display: block;
  margin-top: 5px;

  .file_upload {
    font-size: 13px;
    width: 100%;
    background: #f0f2f5;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 8px 16px;
    position: relative;

    a {
      position: absolute;
      right: 10px;
      top: calc(50% - 8px);
      content: url('../images/close-upload.jpg');
    }
  }
}
