/* stylelint-disable max-nesting-depth */
@import '@scss/abstracts';
@import '@scss/pages/home/difference';

.ibc {
  &_touch {
    @include flex-center-hoz;
    flex-wrap: wrap;
    background-color: $white;

    .verify {
      text-align: center;
      margin: auto;

      .ibc-difference__content {
        text-align: left;
      }
    }

    .success {
      text-align: center;
      margin: auto;

      h1 {
        font-weight: $font-weight-light;
        font-size: 32px;
        line-height: 120%;
        color: $blue-6;
      }

      img {
        margin: 20px 0;
        width: 200px;
        height: 200px;
      }

      p {
        font-weight: $font-weight-base;
        font-size: 16px;
        line-height: 140%;
        color: $black-1;
      }
    }
  }

  &__img {
    width: 50%;
    overflow: hidden;
    @include breakpoint-down(desktop) {
      width: 100%;
    }
    @include breakpoint-down(phone) {
      width: 100%;
      object-fit: cover;
      height: 240px;
    }

    svg {
      @include breakpoint-down(desktop) {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__form {
    width: 50%;
    padding: 6rem 18rem;
    @include breakpoint-down(desktop) {
      width: 100%;
      padding: 1.5rem;
      max-width: 65.6rem;
    }

    &__input {
      margin-top: 3.2rem;
    }

    &__box {
      flex-direction: column;
      display: flex;

      &_full_button {
        text-align: center;

        &_cs_button {
          display: inline-block;
        }
      }

      &__button {
        text-transform: uppercase;
        color: $white;
        font-weight: $font-weight-base;
        font-style: normal;
        padding-right: 0;
        transform: translateY(0%);
        transition: width 0.5s;
        cursor: pointer;
        display: flex;
        text-align: center;
        width: 28.8rem;
        margin: auto;
        margin-top: 4.8rem;
        height: 4.9rem;
        border: 1px solid transparent;
        @include breakpoint-down(phone) {
          height: 46px;
          width: 100%;
        }
        @include current-bg;
        border-radius: 8px;

        &:hover {
          &:after {
            content: '';
            position: absolute;
            width: 28.6rem;
            bottom: 0;
            margin: auto;
            background: #fff;
            height: 4.7rem;
            border-radius: 8px;
            z-index: -1;
            @include breakpoint-down(phone) {
              height: 44px;
            }
          }
        }

        button {
          @include breakpoint-down(phone) {
            height: 46px;
            width: 100%;
          }
          border: unset;
          background: #fff;
          border-radius: 8px;
          text-transform: uppercase;
          width: 28.8rem;
          height: 4.9rem;
          @include current-bg;
          color: $white;
          font-size: $font-size-medium;
          text-align: center;
          margin: auto;
          position: relative;
          cursor: pointer;
          z-index: 10;

          &:hover {
            background: linear-gradient(225deg, #ff6a00 0%, #ee0979 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }

          &:disabled {
            background: #fff;
            color: #aaa;
            border: 1px solid #aaa;
            border-radius: 8px;
            cursor: unset;

            &:hover {
              -webkit-text-fill-color: unset;
            }

            :before {
              content: url('../images/disabled-btn.png');
              position: absolute;
              right: -32px;
              z-index: 11;
              width: 34px;
              height: 11px;
              background-size: 150%;
            }

            &:hover:after {
              width: 3.2rem;
              @include breakpoint-down(phone) {
                width: 32px;
              }
            }
          }
          @include breakpoint-down(phone) {
            height: 46px;
            font-size: 16px;
            width: 100%;
            margin-right: 34px;
          }

          &:before {
            content: url('../images/more-right2.png');
            position: absolute;
            right: -32px;
            z-index: 11;
            width: 34px;
            height: 11px;
            background-size: 150%;
          }

          &:after {
            content: '';
            top: calc(50% - 1.7rem);
            background-color: $white-5;
            padding-left: 2rem;
            text-decoration: none;
            position: absolute;
            left: calc(100% - $font-size-medium);
            transform: translateY(0%);
            border-radius: 6rem;
            height: 3.2rem;
            display: inline-flex;
            align-items: center;
            border: 1px solid $white;
            width: 3.2rem;
            transition: width 0.5s;
            cursor: pointer;
            z-index: 1;

            @include breakpoint-down(phone) {
              width: 32px;
              height: 32px;
              top: calc(50% - 2.4rem);
            }
          }

          &:hover:after {
            width: 6rem;

            @include breakpoint-down(largedesktop) {
              width: 6.3rem;
            }

            @include breakpoint-down(phone) {
              width: 50px;
            }
          }
        }
      }
    }

    &_verify {
      text-align: center;

      &_otp {
        > div {
          justify-content: center;
          @include breakpoint-down(phone) {
            gap: 10px;
          }
          gap: 42px;

          input {
            width: 65px !important;
            height: 80px;
            background: $white;
            border: unset;
            @include breakpoint-down(phone) {
              width: 40px !important;
              height: 50px;
            }

            /* Secondary colors/Chaotic/4#858486 */
            border-bottom: 1px solid #858486;
            font-style: normal;
            font-weight: $font-weight-light;
            font-size: 40px;
            line-height: 120%;
            color: $black-1;
          }
        }
      }
    }
  }
}

.disabledtrue {
  background: unset;
  cursor: unset !important;

  &:hover {
    background: unset;
    @include breakpoint-down(phone) {
      height: 44px;
    }
  }
}

.verifyDiv {
  font-weight: $font-weight-base;
  font-size: 14px;
  line-height: 140%;
  color: $black-2;
}

.skip {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  border: none;
  background: unset;
  text-align: center;
  display: block;
  margin: auto;
  color: #605f61;
  margin-top: 2rem;
  cursor: pointer;

  :hover {
    color: #000;
  }
}

.box_verification {
  position: relative;
}

.verify__height {
  margin-top: 8.8rem !important;
}

.eror_otp {
  color: #cc1f26;
  font-size: 16px;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 11rem;
  margin: auto;
  width: 100%;
}
