/* stylelint-disable max-nesting-depth */
@import '@scss/abstracts';

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgb(25 21 29 / 40%);
  z-index: 100;
}

.ibc-mobile-sidebar {
  $root: &;
  position: fixed;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 999;

  &__menu {
    padding: 2rem 1.6rem;

    &_list-menu {
      ul {
        li {
          display: block;
          margin-top: 4rem;
          cursor: pointer;

          a {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            display: flex;
            color: $black-1;
            cursor: pointer;

            &:hover {
              color: $red-3;
            }

            i {
              align-items: center;
              margin-left: auto;
              display: flex;
              font-size: 500;
              justify-content: flex-end;
              margin-right: 1rem;

              &:hover {
                color: $red-3;
              }
            }
          }
        }
      }
    }

    &_login {
      border-top: 4px solid $white-5;
      padding: 2rem 1.6rem;

      &_localtion {
        font-weight: $font-weight-base;
        font-size: 18px;
        line-height: 140%;
        color: $black-1;

        ul {
          li {
            margin-bottom: 4rem;
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
        }
      }

      &_btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 4rem;
        .ibc-btn-wrapper:nth-child(1) {
          margin: 0;
          .ibc-custom-btn {
            padding: 12.5px 67px;
            border: 1px solid $black-4;
            background-image: unset;
            color: $black-1;
            @include breakpoint-down(smallphone) {
              padding: 12.5px 45px;
            }
            i {
              margin-right: 5px;
              filter: invert(23%) sepia(7%) saturate(14%) hue-rotate(227deg) brightness(90%)
                contrast(92%);
            }
            span {
              font-size: 18px;
              text-transform: uppercase;

              filter: invert(23%) sepia(7%) saturate(14%) hue-rotate(227deg) brightness(90%)
                contrast(92%);
              @include breakpoint-down(phone) {
                font-size: 16px;
              }
            }
            &:hover {
              background: $white-5;
              span {
                opacity: 0.8;
              }
            }
          }
        }
        .ibc-btn-wrapper:nth-child(2) {
          margin: 0;

          .ibc-custom-btn {
            padding: 12.5px 28.5px;
            box-shadow: none;
            @include breakpoint-down(smallphone) {
              padding: 12.5px 11px;
            }
            span {
              font-size: 18px;
              font-weight: 500;
              background: $white;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
              text-transform: uppercase;
              @include breakpoint-down(phone) {
                font-size: 16px;
              }
            }
            &:hover {
              box-shadow: 1px 1000px 1px #fff inset;
              span {
                background: linear-gradient(225deg, #ff6a00 0%, #ee0979 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
              }
            }
          }
        }

        // .ibc-menu-basic {
        //   border: 1px solid $black-4;

        //   &:hover {
        //     background-color: $white-5;
        //   }

        //   a {
        //     color: $black-1;
        //   }
        // }

        // .ibc-menu-medium {
        //   @include current-bg;
        //   border: unset;
        //   color: $white;

        //   a {
        //     color: $white;
        //   }
        // }
      }
    }

    &__search {
      position: relative;

      .icon-search {
        position: absolute;
        top: calc(50%);
        left: 2.2rem;
        transform: translateY(-50%);
      }

      input {
        padding-left: 5.5rem;
        width: 448px;
        height: 44px;
        background: $white-5;
        border-radius: 25px;
        border: none;
        font-weight: $font-weight-base;
        font-size: 14px;
        line-height: 140%;
        color: $black-4;

        &:focus-visible {
          outline-offset: 0;
          outline: unset;
        }

        &:focus {
          border: none;
        }

        &::placeholder {
          font-size: 14px;
          line-height: 140%;
          color: $black-4;
        }
      }

      .gsc-input-box {
        border: unset !important;
        border-bottom: 1px solid transparent !important;
        padding-left: 0 !important;
      }

      #gsc-i-id1 {
        padding: 12px 0 !important;
        padding-left: 5.5rem !important;
      }

      .gsib_a {
        padding: unset !important;
      }

      .gsst_a .gscb_a {
        display: none;
      }
    }
  }

  &__logo {
    position: relative;
    height: 80px;
    display: flex;

    button {
      position: absolute;
      top: calc(50% - 1.2rem);
      height: 2.4rem;
      width: 2.4rem;
      bottom: 0;
      border: none;
      left: 1.6rem;
      background: unset;
      cursor: pointer;
    }

    &_box {
      margin: auto;
      display: flex;
    }
    border-bottom: 1px solid $white-7;
  }

  &__container {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    min-width: 480px;
    transition: all 0.4s ease;

    @include breakpoint-down(phone) {
      width: 100%;
      min-width: 100%;
      left: -200%;
    }
  }

  &__main {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  &__first {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: $white;
    box-shadow: 0 5px 1px rgb(0 0 0 / 10%);
    transition: all 0.4s ease;

    &--open {
      left: 0;
    }
  }

  &__second {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background-color: rgb(255 255 255);
    box-shadow: 0 5px 1px rgb(0 0 0 / 10%);
    transition: all 0.4s ease;

    &--open {
      left: 0;
    }
  }

  &_submenu {
    &_back {
      width: 375px;
      height: 62px;
      display: flex;
      align-items: center;
      padding: 0 1.6rem;

      button {
        i {
          margin-right: 3rem;
          width: 2rem;
          height: 2rem;
        }
        border: unset;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: $black-1;
        background: none;
        cursor: pointer;
      }
    }

    &_list {
      border-top: 4px solid $white-5;
      padding: 2rem 1.6rem;
      max-height: 80vh;
      overflow-y: auto;
      overflow-x: hidden;

      .header_menu {
        display: block;

        a {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 140%;
          display: flex;
          cursor: pointer;
          color: $black-1;

          &:hover {
            color: $red-3;
          }

          i {
            align-items: center;
            margin-left: auto;
            display: flex;
            font-size: 500;
            justify-content: flex-end;
            margin-right: 1rem;

            &:hover {
              color: $red-3;
            }
          }
        }
      }
    }
  }

  &__open {
    #{$root}__container {
      left: 0;
    }

    ~ {
      .overlay {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
