.ibc-industries {
  position: relative;

  &:after {
    height: 100%;
    content: ' ';
    position: absolute;
    top: 0;
    width: 50%;
    background-color: $white;
  }

  &__fluid {
    max-width: 1300px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
  }

  &__container {
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
    position: relative;
    z-index: 2;
    margin-top: -13rem;
    background-color: $white;
    overflow: hidden;

    &:before {
      content: ' ';
      position: absolute;
      height: calc(100%);
      z-index: -1;
      background-color: $white;
    }
    @include breakpoint-down(phone) {
      padding-bottom: 40px;
    }
  }

  &__breadcrumb {
    @include breakpoint-down(phone) {
      display: none;
    }
  }

  &__main {
    padding-top: 20px;
    max-width: 120rem;

    @include breakpoint-down(desktop) {
      padding-left: unset;
      margin: 0 auto;
      padding-top: 20px;
    }

    @include breakpoint-down(phone) {
      padding-left: unset;
      margin: 0 auto;
      padding-top: unset;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin-top: 8.3rem;

    @include breakpoint-down(desktop) {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }

    h1 {
      font-weight: $font-weight-base;
      font-size: 6rem;
      line-height: 140%;
      @include current-bg;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-align: start;
      max-width: 40rem;

      @include breakpoint-down(desktop) {
        font-weight: $font-weight-light;
        font-size: 32px;
        line-height: 120%;
        max-width: unset;

        /* or 38px */
        text-align: center;

        /* Primary colors/Gradient/Sunset */
        @include current-bg;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    p {
      width: 57rem;
      font-weight: $font-weight-base;
      font-size: 1.6rem;
      line-height: 140%;
      color: $black-1;
      text-align: start;

      @include breakpoint-down(desktop) {
        /* Body/B3/Regular */
        font-weight: $font-weight-base;
        font-size: 14px;
        line-height: 140%;
        color: $black-1;
        text-align: center;
        padding: 0 16px;
        margin-top: 10px;
      }
    }
  }

  &__title {
    @include flex-center-hoz;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    z-index: 10;
    margin-top: 94px;

    h2 {
      font-weight: $font-weight-light;
      font-size: 40px;
      line-height: 120%;
      align-items: center;
      text-align: center;
      @include current-bg;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      position: relative;
      display: inline-block;

      @include breakpoint-down(desktop) {
        font-weight: $font-weight-light;
        font-size: 28px;
        line-height: 120%;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: $gray-4;
      }

      &:before {
        right: 100%;
        margin-right: 15px;
      }

      &:after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }

  &__list {
    display: flex;
    width: calc(100% + 60px);
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: -3rem;

    @include breakpoint-down(phone) {
      margin-top: 20px;
      width: 100%;
      margin-left: 0;
    }

    &--item {
      flex-grow: 1;
      width: calc(100% / 3);
      max-width: calc(100% / 3);
      padding: 3rem;
      display: flex;

      @include breakpoint-down(desktop) {
        width: calc(100% / 2);
        max-width: calc(100% / 2);
      }

      @include breakpoint-down(phone) {
        width: 100%;
        max-width: 100%;
        padding: 1.5rem;
      }
    }

    &--item-content {
      flex: 1;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      overflow: hidden;
      text-align: start;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $gray-5;
      flex-direction: column;

      img {
        width: 100%;
        object-fit: cover;
        max-height: 80px;
      }

      h3 {
        margin-top: 16px;

        a {
          font-weight: $font-weight-light;
          font-size: $font-size-fit;
          line-height: 140%;
          padding: $font-size-medium 0;
          text-transform: uppercase;
          cursor: pointer;
          color: $black-1;

          @include breakpoint-down(phone) {
            font-size: 20px;
          }
        }
      }

      p {
        color: $black-1;
        font-weight: $font-weight-base;
        font-size: $font-size-large;
        line-height: 140%;
        margin-top: 16px;

        @include breakpoint-down(phone) {
          font-size: 16px;
        }
      }

      &:hover {
        cursor: pointer;

        img {
          opacity: 0.7;
        }

        h3 {
          a {
            color: $red-4;
          }
        }
      }
    }
  }
  // &__list {
  //   display: flex;
  //   width: 100%;
  //   flex-wrap: wrap;
  //   margin-top: 40px;

  //   @include breakpoint-down(phone) {
  //     margin-top: 20px;
  //   }

  //   &--item {
  //     flex-grow: 1;
  //     width: calc(100% / 3);
  //     max-width: calc(100% / 3);
  //     padding: 3rem;
  //     display: flex;

  //     img {
  //       max-height: 80px;
  //     }

  //     @include breakpoint-down(desktop) {
  //       width: calc(100% / 2);
  //       max-width: calc(100% / 2);
  //     }

  //     @include breakpoint-down(phone) {
  //       width: 100%;
  //       max-width: 100%;
  //       padding: 1.5rem;
  //     }
  //   }

  //   &--item-content {
  //     flex: 1;
  //     border-top-left-radius: 16px;
  //     border-top-right-radius: 16px;
  //     overflow: hidden;
  //     text-align: start;
  //     display: flex;
  //     justify-content: space-between;
  //     border-bottom: 1px solid $gray-5;
  //     flex-direction: column;

  //     img {
  //       width: 100%;
  //       object-fit: cover;
  //     }

  //     h3 {
  //       color: $black-3;
  //       font-weight: $font-weight-light;
  //       font-size: $font-size-fit;
  //       line-height: 140%;
  //       padding: $font-size-medium 0;
  //       text-transform: uppercase;
  //       cursor: pointer;

  //       a {
  //         color: $black-3;
  //         font-weight: $font-weight-light;
  //         font-size: $font-size-fit;
  //         line-height: 140%;
  //         padding: $font-size-medium 0;
  //         text-transform: uppercase;
  //         cursor: pointer;
  //       }
  //     }

  //     p {
  //       color: $black-1;
  //       font-weight: $font-weight-base;
  //       font-size: $font-size-large;
  //       line-height: 140%;
  //     }

  //     &:hover {
  //       cursor: pointer;

  //       img {
  //         opacity: 0.7;
  //       }

  //       h3 {
  //         a {
  //           color: $red-4;
  //         }
  //       }
  //     }
  //   }
  // }
}
