@import '@scss/abstracts';

.ibc-insight {
  &__lastest {
    > div > a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;
      gap: 3rem;

      @include breakpoint-down(phone) {
        flex-wrap: wrap;
        // justify-content: center;
      }
    }

    h1 {
      font-weight: $font-weight-bold-md;
      font-size: 2.4rem;
      line-height: 140%;
      text-transform: uppercase;
      color: $black-1;
      margin-top: 6rem;
    }

    img {
      width: 62rem;
      border-radius: 8px;
      object-fit: fill;

      @include breakpoint-down(desktop) {
        width: 100%;
        height: 100%;
        // min-width: 62rem;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &__text {
      width: calc((100% / 2) - 40px);

      @include breakpoint-down(desktop) {
        width: unset;
        margin-top: 20px;
      }

      h2 {
        font-weight: $font-weight-base;
        font-size: 4rem;
        color: $black-5;

        &:hover {
          color: #cc1f26;
        }

        @include breakpoint-down(desktop) {
          font-size: 24px;
          font-weight: $font-weight-base;
        }
      }

      p {
        font-size: 20px;
        line-height: 140%;
        color: $black-5;
        margin-top: 8px;
        @include breakpoint-down(desktop) {
          font-size: 16px;
        }
      }
    }

    &--list {
      margin-top: 6rem;
    }

    &__select-box {
      display: flex;
      justify-content: flex-start !important;
      gap: 20px;
      padding-top: 16px;
      align-items: center;
    }
  }
}

.ibc-select-box {
  &__menu {
    font-size: 20px;
  }
}
