@import '@scss/abstracts/';

@import './hero';
@import './serviceList';

.ibc-service {
  background-color: $white-5;
}

.ibc-services__item li p {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: flexbox;
}
