@import '@scss/abstracts';

.ibc-container-content {
  text-align: center;
  margin: 0 auto;
  max-width: 128.4rem;
  height: 100%;
}

.ibc-banner {
  background: url('../images/banner.jpg') no-repeat;
  width: 100%;
  height: 380px;
  background-size: cover;
  position: relative;

  &_title {
    align-content: center;
    font-weight: $font-weight-medium;
    font-size: 8rem;
    line-height: 120%;
    height: 100%;
    color: $white;

    h1 {
      height: 100%;
      @include flex-center;
      text-align: center;
    }
  }

  &_link {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: auto;
    z-index: 2;
    padding: 2rem 8rem;
    font-size: $font-size-medium;

    ul {
      li {
        display: inline-block;

        .router {
          color: $gray-5;
        }
      }
    }

    &:after {
      content: '';
      background: $white;
      height: 100%;
      width: 370%;
      left: 0;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }
}
