.ibc-group-select {
  .css-b62m3t-container {
    // background-color: #f0f2f5 !important;
  }

  .css-1s2u09g-control {
    background-color: #f0f2f5 !important;
    border-radius: 8px !important;
  }

  .css-1pahdxg-control {
    background-color: #f0f2f5 !important;
    border-radius: 8px !important;
  }

  .css-6j8wv5-Input {
    padding: 12px 0;
  }

  .css-1okebmr-indicatorSeparator {
    display: none;
  }

  .css-14el2xx-placeholder {
    font-size: 1.8rem;
  }
}
