@import '@scss/abstracts';

.ibc-pdf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-size: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__address {
      max-width: 450px;

      p {
        color: $red-3;
        margin-top: 8px;
        font-size: 16px;
      }
    }
  }

  &__content {
    padding: 30px 0;
  }
}
