@import '@scss/abstracts';
@import './pdf';

.ibc-info {
  &__tab {
    margin-top: calc(7.6rem + 6rem);

    &__title {
      // margin-top: 8rem;
      display: flex;
      justify-content: space-between;

      h1 {
        font-weight: $font-weight-light;
        font-size: $font-size-max-xl;
        @include text-color;
      }

      p {
        // width: 1200px;
        height: 22px;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 140%;
        color: $black-4;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin-top: 2rem;
      }

      strong {
        margin-top: 2rem;
      }
    }
  }
}

.ibc-content-format {
  overflow: hidden;

  &__line-through {
    &:before,
    &:after {
      background: linear-gradient(225deg, #ff6a00 0%, #ee0979 100%);
    }
  }
}

.ibc-tab {
  margin-top: 8rem;
}

.ibc-tab__panel {
  margin-top: 4rem;
}

.ibc-btn-info {
  border-radius: 0.8em;
  font-size: 1rem;
  padding: 1.2rem;
  border: solid 2px transparent;
  background-image: linear-gradient(225deg, #ff6a00 0%, #ee0979 100%),
    linear-gradient(225deg, #ff6a00 0%, #ee0979 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  height: fit-content;
}

.ibc-btn-download {
  @include flex-center;
  font-weight: $font-weight-base;
  font-size: $font-size-large;
  background: linear-gradient(225deg, #ff6a00 0%, #ee0979 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  z-index: 99;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }
}

.ibc-container-content {
  // margin-top: calc(7.6rem + 6rem);
  @include breakpoint-down(desktop) {
    padding: 0 10px;
  }
}

.ibc-breadcrumbs .MuiBreadcrumbs-li p {
  margin-top: unset;
}

// tab

.ibc-information {
  background: #f0f2f5;
  max-width: 1920px;
  padding: 60px 0;
  font-family: Roboto, sans-serif;
}

.ibc-information-component {
  max-width: 1600px;
  margin-left: auto;
  background: #fff;
  padding: 60px 80px;
}

.ibc-information__content {
  max-width: 1200px;
}

.ibc-information__content__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ibc-information__content__title h1 {
  font-weight: 300;
  font-size: 48px;
  line-height: 140%;
  background: linear-gradient(225deg, #ff6a00 0%, #ee0979 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 0;
}

.ibc-information__content__title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #858486;
  margin: 10px 0 0;
}

.ibc-information__content__title .button-down-load button {
  padding: 20px 10px;
  background: linear-gradient(225deg, #ff6a00 0%, #ee0979 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  border: 1px solid #e52e3d;
  border-radius: 8px;
  outline: none;
}

.ibc-information__content__tabs {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.ibc-information__content__tabs .tablink {
  border: 1px solid transparent;
  background: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  color: #858486;
  padding: 12px 24px;
  transition: all 0.5s;
  outline: none;
}

.ibc-information__content__tabs .tablink:hover {
  background: #f0f2f5;
}

.ibc-information__content__tabs .active {
  border: 1px solid #c91f26;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  font-weight: 400;
  font-size: 18px;
  color: #c91f26;
}

// .ibc-informat-border {
//   position: relative;
//   z-index: 1;
//   margin-top: 20px;
// }

// .ibc-informat-border h2 {
//   position: relative;
//   background: #fff;
//   display: inline-block;
//   z-index: 2;
//   padding-right: 10px;
// }

// .ibc-informat-border:before {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 1px;
//   background: linear-gradient(225deg, #ff6a00 0%, #ee0979 100%);
//   left: 0;
//   top: 50%;
//   z-index: 1;
// }

.ibc-content-format h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  color: #c91f26;
}

.ibc-content-format p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3b3a3c;
  margin: 20px 0 0;
}

.ibc-content-format a {
  color: #3b3a3c;
  text-decoration: none;
}

.ibc-content-format .website {
  color: #c91f26;
}

@media (max-width: 768px) {
  .ibc-information {
    background: #fff;
    padding: 40px 0;
  }

  .ibc-information-component {
    padding: 0 16px;
  }

  .ibc-information__content__title h1 {
    font-size: 32px;
  }

  .ibc-information__content__title p {
    font-size: 12px;
  }

  .ibc-information__content__title .button-down-load button {
    padding: 10px;
  }

  .ibc-information__content__title .button-down-load button span {
    display: none;
  }

  .ibc-information__content__tabs {
    margin-top: 20px;
    cursor: pointer;
  }

  .ibc-information__content__tabs .tablink {
    font-size: 12px;
    padding: 12px 8px;
  }

  .ibc-information__content__tabs .active {
    font-size: 12px;
  }

  .ibc-content-format {
    margin-top: 20px;
  }

  .ibc-content-format p {
    font-size: 14px;
    margin: 12px 0 0;
  }
}

@media (max-width: 300px) {
  .ibc-information__content__tabs {
    flex-wrap: wrap;
  }
}
