.ibc-services {
  background-color: $white;
  position: relative;

  &:after {
    height: 100%;
    content: ' ';
    position: absolute;
    top: 0;
    width: 50%;
    background-color: $white-5;
  }

  &__fluid {
    background-color: $white;
    max-width: 1300px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    position: relative;
  }

  &__container {
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
    margin-top: -13rem;
    background-color: $white;
    overflow-y: hidden;

    &:before {
      content: ' ';
      position: absolute;
      height: calc(100%);
      z-index: -1;
      background-color: $white;
    }
  }

  &__breadcrumb {
    @include breakpoint-down(phone) {
      display: none;
    }
  }

  &__main {
    padding-left: 80px;
    padding-top: 20px;
    max-width: 120rem;
    @include breakpoint-down(desktop) {
      // padding-left: unset;
      padding: 0 16px;
    }

    @include breakpoint-down(phone) {
      padding: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin-top: 8.3rem;

    @include breakpoint-down(desktop) {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }

    h1 {
      font-weight: $font-weight-base;
      font-size: 6rem;
      line-height: 140%;
      @include current-bg;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-align: start;
      max-width: 35rem;

      @include breakpoint-down(desktop) {
        font-weight: $font-weight-light;
        font-size: 32px;
        line-height: 120%;
        max-width: unset;

        /* or 38px */
        text-align: center;

        /* Primary colors/Gradient/Sunset */
        @include current-bg;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    p {
      width: 57rem;
      height: 15.4rem;
      font-weight: $font-weight-base;
      font-size: 1.6rem;
      line-height: 140%;
      color: $black-1;
      text-align: start;

      @include breakpoint-down(desktop) {
        /* Body/B3/Regular */
        font-weight: $font-weight-base;
        font-size: 14px;
        line-height: 140%;
        color: $black-1;
        padding: 0 16px;
        text-align: center;
      }
    }
  }

  &__title {
    @include flex-center-hoz;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    z-index: 10;
    margin-top: 94px;

    h2 {
      font-weight: $font-weight-light;
      font-size: 40px;
      line-height: 120%;
      align-items: center;
      text-align: center;
      @include current-bg;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      position: relative;
      display: inline-block;

      @include breakpoint-down(desktop) {
        font-weight: $font-weight-light;
        font-size: 28px;
        line-height: 120%;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: $gray-4;
      }

      &:before {
        right: 100%;
        margin-right: 15px;
      }

      &:after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }

  // &__list {
  //   // @include flex-between-wrap;
  //   display: flex;
  //   justify-content: space-between;
  //   flex-wrap: wrap;
  //   width: 100%;

  //   @include breakpoint-down(phone) {
  //     justify-content: center;
  //   }

  //   &--item {
  //     border-bottom: 1px solid #aaa;
  //     border-top-left-radius: 16px;
  //     border-top-right-radius: 16px;
  //     overflow: hidden;
  //     width: calc((100% / 3) - 30px);
  //     margin-top: 40px;
  //     text-align: start;
  //     max-width: 360px;
  //     flex-direction: column;
  //     display: flex;
  //     justify-content: space-between;
  //     // @include flex-between;

  //     @include breakpoint-down(desktop) {
  //       width: calc((100% / 2) - 15px);
  //     }
  //     @include breakpoint-down(phone) {
  //       width: 100%;
  //     }

  //     img {
  //       width: 100%;
  //       object-fit: cover;
  //     }

  //     h3 {
  //       color: $black-3;
  //       font-weight: $font-weight-light;
  //       font-size: $font-size-fit;
  //       line-height: 140%;
  //       padding: $font-size-medium 0;
  //       text-transform: uppercase;
  //       cursor: pointer;

  //       a {
  //         color: $black-3;
  //         font-weight: $font-weight-light;
  //         font-size: $font-size-fit;
  //         line-height: 140%;
  //         padding: $font-size-medium 0;
  //         text-transform: uppercase;
  //         cursor: pointer;
  //       }
  //     }

  //     p {
  //       color: $black-1;
  //       font-weight: $font-weight-base;
  //       font-size: $font-size-large;
  //       line-height: 140%;
  //     }

  //     &:hover {
  //       cursor: pointer;

  //       img {
  //         opacity: 0.7;
  //       }

  //       h3 {
  //         a {
  //           color: $red-4;
  //         }
  //       }
  //     }
  //   }
  // }
}
