/* stylelint-disable max-nesting-depth */
@import '../../abstracts/';

.ibc-map {
  max-width: 128.4rem;
  padding-left: 8rem;
  padding-top: 6.2rem;
  padding-bottom: 6.2rem;
  position: relative;
  z-index: 2;
  width: 100%;

  @include breakpoint-down(desktop) {
    padding: 40px 16px;
  }
  @include breakpoint-down(phone) {
    padding: 0;
  }

  &:after {
    content: '';
    background: $white;
    height: 100%;
    width: 370%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &_title {
    @include breakpoint-down(phone) {
      padding: 40px 16px;
    }
    @include breakpoint-down(desktop) {
      width: auto;
      max-width: 65.6rem;
    }
    width: 100%;
  }

  &_select {
    height: 100%;
    width: 160rem;
    margin: 4rem -32rem -6rem -8rem;
    @include breakpoint-down(desktop) {
      margin: 0;
      margin: 4rem -32rem -6rem -2rem;
    }

    .customclass {
      @include breakpoint-down(phone) {
        height: 400px;
        margin: 0;
      }
    }
  }
}

.box_select_map {
  @include breakpoint-down(phone) {
    width: 100%;
    margin: 0;
    display: block;
  }
  display: inline-block;
  margin-right: 3rem;
  margin-top: 0;
  @include breakpoint-down(desktop) {
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
  }

  label {
    margin-bottom: 8px;
    font-weight: $font-weight-bold-md;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: $black-1;
  }

  select {
    width: 360.5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml,%3csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.28613 1.28551L4.14527 3.57122L7.00441 5.85693L9.85556 3.57122L12.7147 1.28551' stroke='%23858486' stroke-width='1.2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    margin-right: 2rem;
    padding: 1rem;
    color: #aaa;
    padding-right: 2rem;
    @include breakpoint-down(phone) {
      width: 100%;
    }
    @include breakpoint-down(desktop) {
      width: 100%;
      display: block;
    }
    height: 54px;
    border: 1px solid $white-4;
    border-radius: 8px;
    font-size: 16px;

    ::placeholder {
      font-weight: $font-weight-base;
      font-size: 16px;
      line-height: 140%;
      display: flex;
      align-items: center;
      color: $gray-5;
      color: #aaa;
    }
  }
}

.ibc-map_title {
  .ibc-difference__content {
    p {
      @include breakpoint-down(phone) {
        text-align: start;
      }
    }
  }
}
