.ibc-career {
  &__article {
    max-width: 1300px;
    margin: 4rem auto;
    padding-left: 15px;

    &__item {
      background: $white;
      border: 1px solid $white-5;
      border-radius: 8px;
      padding: 16px;
      position: relative;
      color: $black-1;
      margin-top: 40px;

      h2,
      h3 {
        font-weight: $font-weight-base;
        font-size: 12px;
        line-height: 140%;
        margin: 8px 0 16px;

        i {
          color: $gray-9;
          margin-right: 5px;
        }

        a {
          color: $black-1;
          font-weight: $font-weight-bold;
          font-size: 20px;

          &:hover {
            color: $red-3;
          }
        }
      }

      h2 {
        padding-right: 8px;
        margin-right: 10px;
        border-right: 1px solid $white-5;
      }

      p {
        font-weight: $font-weight-base;
        font-size: 16px;
        line-height: 140%;
      }

      &__icon {
        position: absolute;
        right: 0;
        bottom: -2px;
      }

      @include breakpoint-down(phone) {
        margin-top: 16px;
      }
    }
  }

  &__about {
    background: $white-5;
    padding: 60px 0 0 30px;
    margin-top: 6rem;

    &__content {
      max-width: 1300px;
      margin: 0 auto;

      h2 {
        @include current-bg;
        text-align: center;
        font-weight: $font-weight-light;
        font-size: 48px;
        line-height: 120%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @include breakpoint-down(phone) {
          font-size: 32px;
        }
      }

      &__item {
        margin-top: 40px;
        border-left: 1px solid $white-6;

        h3 {
          font-weight: $font-weight-light;
          font-size: 24px;
          line-height: 140%;
          color: $black-1;
        }

        div {
          margin-top: 40px;
          position: relative;

          img {
            width: 100%;
            object-fit: cover;
            height: 100%;
          }

          a {
            position: absolute;
            right: 0;
            bottom: 0;
          }
          @include breakpoint-down(phone) {
            margin-top: 20px;
          }
        }
      }
    }
  }

  &__other-position {
    max-width: 1300px;
    padding: 60px 80px;
    margin: 0 auto;
    @include breakpoint-down(phone) {
      padding: 40px 15px;
    }

    h1 {
      @include current-bg;
      font-weight: $font-weight-light;
      font-size: 48px;
      line-height: 120%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      @include breakpoint-down(tablet) {
        font-size: 32px;
      }
    }

    &__item {
      padding: 20px 0;
      border-bottom: 1px solid $gray-5;
      cursor: pointer;

      .justify-content-between {
        width: 63%;
        color: $black-1;

        h2 {
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
        }

        h3 {
          margin-top: 20px;
          text-transform: uppercase;
          font-weight: $font-weight-base;
          font-size: 16px;
          line-height: 140%;

          p {
            display: inline;
            text-transform: capitalize;
            margin-left: 5px;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
          }
        }
      }
      @include breakpoint-down(tablet) {
        .justify-content-between {
          display: unset !important;
          width: 100%;

          h3 {
            margin-top: 8px;
          }
        }
      }

      &:hover {
        border-bottom: 1px solid $red-4;

        h2 {
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          @include current-bg;
        }
      }

      &__btn {
        margin-left: auto;
      }
    }
  }
}

.button_update {
  background: linear-gradient(225deg, #ff6a00, #ee0979);
  padding: 1px;
  border-radius: 8px;
  width: 109px;

  @include breakpoint-down(tablet) {
    width: 67px;
  }

  .ibc__form__box__button {
    @include flex-center-hoz;
    transform: translateY(0%);
    background: $white;
    border-radius: 8px;
    padding: 13px 0;
    @include breakpoint-down(tablet) {
      padding: 0;
    }
  }

  .ibc__form__box__button button {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  &:hover {
    .ibc__form__box__button {
      @include current-bg;
    }
  }
}

.ibc__form__box__button {
  button {
    height: 4.4rem;
    @include current-bg;
    font-weight: $font-weight-base;
    font-size: 16px;
    line-height: 140%;
    border: none;
    cursor: pointer;
    @include breakpoint-down(tablet) {
      height: 92px;
    }
  }

  &:hover {
    button {
      background: $white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}
