.ibc-insight__select-box {
  border-radius: 4px;
  margin-top: 16px;
}

.ibc-select-box__control {
  background-color: $white-5;
  font-size: $font-size-large;
  padding: 10px 0;
}

body .ibc-select-box__control {
  height: 41px;
  padding: 10px 29px;
}

.ibc-insight__select_filter {
  h2 {
    margin-top: 6rem;
    font-weight: $font-weight-bold-md;
    font-size: 1.6rem;
    line-height: 140%;

    /* or 22px */
    display: flex;
    align-items: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: $black-1;
  }
}

.ibc-insight {
  &__select_wrapper {
    display: flex;
    gap: 30px;
  }
}
