.ibc-about-us__award {
  // background: $gray-3;
  // padding: 60px 0;
  // max-width: 1920px;
  // margin: 0 auto;

  @include breakpoint-down(phone) {
    max-width: 768px;
    overflow-x: hidden;
  }
  @include breakpoint-down(smallphone) {
    max-width: 576px;
  }
  @include breakpoint-down(mediumphone) {
    max-width: 413px;
    padding: 40px 0;
  }
  @include breakpoint-down(xsmallphone) {
    max-width: 375px;
  }

  &__slide-swapper {
    overflow-x: clip;
    z-index: -1;
  }

  &__content {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    @include breakpoint-down(phone) {
      max-width: 768px;
    }
    @include breakpoint-down(smallphone) {
      max-width: 576px;
    }
    @include breakpoint-down(mediumphone) {
      max-width: 413px;
    }
    @include breakpoint-down(xsmallphone) {
      max-width: 375px;
    }

    &__title {
      text-align: center;
      padding: 0 100px;
      @include breakpoint-down(phone) {
        padding: 0 15px;
      }

      h2 {
        font-weight: 300;
        font-size: 48px;
        line-height: 120%;
        background: linear-gradient(225deg, #ff6a00 0%, #ee0979 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @include breakpoint-down(phone) {
          font-size: 32px;
        }
      }

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: $black-1;
        margin-top: 20px;
        @include breakpoint-down(phone) {
          font-size: 14px;
        }
      }
    }

    &__slider {
      padding: 0 50px;
      margin-top: 40px;
      position: relative;
      @include breakpoint-down(phone) {
        padding: 0;
      }

      .swiper {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        list-style: none;
        padding: 0;
        z-index: 1;
      }

      .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: box;
        display: flex;
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-property: transform;
        transition-property: transform;
        box-sizing: content-box;
      }

      .swiper-slide {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding: 0 20px;
        position: relative;
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-property: transform;
        transition-property: transform;
        @include breakpoint-down(desktop) {
          img {
            width: 100%;
            height: 100%;

            @include breakpoint-down(phone) {
              margin-top: 20px;
            }
          }
        }

        a {
          font-weight: 400;
          font-size: 24px;
          line-height: 140%;
          color: $black-1;
          margin-top: 16px;
          @include breakpoint-down(phone) {
            font-size: 18px;
          }

          @include limit-text(4);
        }

        &:hover {
          img {
            opacity: 0.8;
          }

          a {
            color: $red-3;
          }
        }
        @include breakpoint-down(smallphone) {
          div {
            padding: 16px 0;
            border-bottom: 1px solid $gray-4;
          }
        }
      }

      .ibc-arrow--next {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 99;
        cursor: pointer;
        @include breakpoint-down(small-laptop) {
          right: 15px;
        }
        @include breakpoint-down(phone) {
          top: -20px;
        }

        i {
          font-size: 35px;
          background: linear-gradient(225deg, #ff6a00 0%, #ee0979 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          -webkit-text-stroke: 0.35px white;
          position: relative;

          &:after {
            position: absolute;
            content: '';
            height: 40px;
            width: 40px;
            background: #fff;
            top: calc(50% - 20px);
            border-radius: 50%;
            left: calc(0% - 20px);
            z-index: -1;
            transition: all 0.5s;
          }

          &:hover:after {
            width: 70px;
            border-radius: 50px;
          }
        }
      }

      .ibc-arrow--prev {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 99;
        cursor: pointer;
        @include breakpoint-down(small-laptop) {
          left: 15px;
        }
        @include breakpoint-down(phone) {
          top: -20px;
        }

        i {
          font-size: 35px;
          background: linear-gradient(225deg, #ff6a00 0%, #ee0979 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 0.35px white;
          background-clip: text;
          text-fill-color: transparent;
          position: relative;

          &:after {
            position: absolute;
            content: '';
            height: 40px;
            width: 40px;
            background: #fff;
            top: calc(50% - 20px);
            border-radius: 50%;
            right: calc(0% - 20px);
            z-index: -1;
            transition: all 0.5s;
          }

          &:hover:after {
            width: 70px;
            border-radius: 50px;
          }
        }
      }
    }
  }

  .slider__pagination {
    gap: 8px;
    position: absolute;
    bottom: -50px;
    display: flex;
    justify-content: center;
    height: 20px;
    left: 0;
    right: 0;
    @include breakpoint-down(phone) {
      bottom: 98.5%;
    }
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    background: #aaa;
    border-radius: 4px;
  }

  .swiper-pagination-bullet-active {
    width: 48px;
    height: 4px;
    background: #c91f26;
    border-radius: 4px;
  }
}
